  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

  header {
    background: linear-gradient(135deg, #099eda, #8225fc);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

  header h1 {
    font-size: 3rem;
    margin: 0;
}
  h2 {
    padding-bottom: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

  h2:hover {
    transform: scale(1.1);
}

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ffdd57;
  }
  
  section {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    opacity: 0;
  }
  
  
  section.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    color: #2575fc;
  }
  
  .section-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

img.rotate:hover {
  transform: rotate(10deg) scale(1.05); /* Вращение и увеличение при наведении */
}

footer {
    background: linear-gradient(135deg, #099eda, #8225fc);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-in-text {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}

.fade-in-text.visible {
  opacity: 1;
}